<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elderly Care App - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="form-container">
            <h2>Login</h2>
            <form id="login-form" method="POST" action="{{ url_for('login') }}" onsubmit="return validateLoginForm()">
                <label for="login-username">Username:</label>
                <input type="text" id="login-username" name="username" required>

                <label for="login-password">Password:</label>
                <input type="password" id="login-password" name="password" required>

                <a href="/elderly-care-app" class="btn">Login</button>
                <p>Don't have an account? <a href="{{ url_for('signin') }}">Sign Up</a></p>
            </form>
        </div>
    </div>

    <!-- Load the JavaScript file -->
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
